* {
  text-decoration: none;
  color: #000;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #01c3f8;
  height: 100vh;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./images/0.jpg');
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 600px;
  z-index: -2;
}

.menu-container {
  position: absolute;
  transform: translateX(50%);
  right: 50%;
  top: 570px;
  max-width: 700px;
  width: 100%;
  border-radius: 20px;
  /* Ajuste conforme necessário */
  overflow: hidden;
  /* Para esconder as bordas arredondadas */
  background-color: #01c3f8;
  /* Cor de fundo ajustada para o tema de mar e praia */
}

.horizontal-menu {
  list-style: none;
  padding: 4px;
  margin: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.horizontal-menu li {
  width: 100px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  /* Ajuste conforme necessário */
  background-color: #fff;
  /* Cor de fundo dos itens */
  padding: 10px;
  /* Espaçamento interno dos itens */
}

.horizontal-menu li a {
  text-decoration: none;
  color: #333;
  /* Cor do texto */
}

.horizontal-menu li:hover {
  background-color: #007a8c;
  /* Cor de fundo ao passar o mouse, ajustada para o tema de mar e praia */
  color: #fff;
  /* Cor do texto ao passar o mouse */
}

.sobre-container {
  padding-bottom: 40px;
}


.sobre {
  position: relative;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #00000090;
  border-radius: 20px;
  padding: 30px;
}

.sobre>h2 {
  margin: 0;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}

.sobre>p {
  font-size: 16px;
  color: #ffffff;
  text-shadow: 2px 2px 2px #000000;
}


.div-iframe {
  width: 100%;
  padding-bottom: 50px;
  margin-top: 130px;
}

iframe {
  display: block;
  position: relative;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #000;
}



.bg {
  top: 0px;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -6;
}

.bgAsset>img {
  width: 100%;
}

.nuvem1 {
  position: absolute;
}

.nuvem2 {
  right: 0;
  width: 300px;
  position: absolute;
}

.coqueiro1 {
  bottom: 0;
  width: 230px;
  position: absolute;
}

.coqueiro2 {
  bottom: 0;
  position: absolute;
  right: 0;
  width: 400px;
}

.carrossel-container {
  position: relative;
  margin: 0 auto;
  width: 900px;
  padding-bottom: 30px;
}

.carrossel {
  position: relative;
  width: 820px;
  margin: 0 auto;
  overflow: hidden;

}

.notas {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease-in-out;
  /* Adiciona uma transição suave */
}

.notas-cards {
  width: 100%;
  min-width: 400px;
  background-color: #ffffff99;
  border-radius: 20px;
  padding: 40px;
  border: 1px solid #87b9fc;
  box-sizing: border-box;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 50px;
  background-color: #87b9fc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 50px;
  line-height: 0;
  padding: 0 0 5px 0;
}

.prev-btn {
left: -100px;
}
.next-btn {
  right: -100px;
}

.notas-profile {
  width: 100px;
}

.notas-txt > p {
  font-style: italic;
}

.notas-profile>img {
  border-radius: 100%;
  width: 100%;
}

.shadow {
  background-color: #00000090;
  padding: 2% 0 0 0;
  width: 100%;
  box-shadow: 0px 0px 10px #000;
}

h1 {
  text-align: center;
  color: #ffda61;
  text-shadow: 2px 2px 5px #000;
  font-size: 50px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0 20px 20px 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.image {
  max-width: 230px;
  position: relative;
  border: 1px inset #01c3f890;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.image:hover {
  transform: scale(2);
  z-index: 99;
  box-shadow: 2px 2px 2px black;
}

.image img {
  width: 100%;
  height: auto;
  display: block;
}

.caption {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  color: #000;
  text-align: center;
}

.image:hover .caption {
  opacity: 1;
}

.image-turismo {
  height: 160px;
  position: relative;
  border: 1px inset #01c3f890;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #01c3f8dd;
}

.gallery-turismo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 20px auto;
}

.image-turismo img {
  width: 100%;
  height: auto;
  display: block;
}

.titulo-form {
  margin-top: 50px;
}

form {
  max-width: 600px;
  margin: 30px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.datas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.data {
  width: 48%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

button {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 480px) {
  .banner {
    height: 210px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .menu-container {
    top: 210px;
    border-radius: 0px;
    padding: 10px 0;
    background-color: #01c3f8dd;
    margin-bottom: 10px;
  }

  .horizontal-menu {
    flex-flow: wrap;
    height: 80px;
  }

  .container {
    margin-top: 130px;
  }

  .image:hover {
    transform: scale(1);
    box-shadow: none;
  }

  .image {
    max-width: 100%;
    width: 95%;
  }

  .gallery-turismo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .image-turismo {
    width: 200px;
  }

  .carrossel-container {
    width: 100%;
  }

  .carrossel {
    width: 90%;
  }

  .prev-btn {
    width: 40px;
    height: 40px;
    left: 0;
  }

  .next-btn {
    width: 40px;
    height: 40px;
    right: 0  ;
  }
}